.ctaBtn {
  padding: 13px 22px;
  border-radius: 6px;
  color: #fff;
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  transition: all 0.5s ease;
  margin-top: 20px;
}

.ctaBtn:hover {
  background-color: transparent;
  color: var(--primary-color);
}
